body{
    background-color: aqua;
}
.characters{
        border: 2px solid wheat;
        border-radius: 15px;
        background-color: white;
        height: 160px;
        width: 160px;
        padding: 4px;
        text-align: center;
        margin: 4%;
}
.Words{
        border: 2px solid wheat;
        border-radius: 15px;
        background-color: white;
        height: 160px;
        width: 160px;
        padding: 4px;
        text-align: center;
        margin: 4%;
}
.container-1{
    display: flex;
    /* justify-content: space-around; */
    padding: 2% 15%;
    
    
}
.container-2{
    display: flex;
    /* justify-content: space-around; */
    padding: 2% 15%;
}
.input{
    border: 2px solid grey;
    background-color: white;
    height: 200px;
    width:  200px;
    padding: 2% 80%;
    color: black;
}